<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taskify API</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body class="d-flex flex-column align-items-center">
    <div class="container d-flex flex-column gap-2 align-items-center">
      <h1>taskify it!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        quisquam, aut qui deleniti animi voluptatibus optio repellat, distinctio
        asperiores error numquam repudiandae voluptate velit? Officiis fugiat
        reiciendis laudantium iusto temporibus.
      </p>
    </div>
  </body>
</html>
